/* main.css */
@import url(common.css);

html,body{width: 100%;height: 100%;}

main{height: 110%;background: #F8F9FA;padding:64px 15px 0;}

main > form > fieldset{position: relative;top:15px;}
main > form > fieldset > i{position: absolute;left:8px;top:calc(50% - 9px); font-size: 17px;color: #818186;}
main > form > fieldset > input{width: 100%;height: 36px;font-size: 17px;border: none;background: #e8e9eb;border-radius: 10px;box-sizing: border-box;padding-left: 30px;}
main > div{position: relative;top:30px;display: flex;flex-direction:column;height: 352px;}
main > div > dl{position: relative;flex:1;display: inline-block;width: 100%;}
main > div > dl > dt{display: inline-block;font-size: 17px;font-weight: bold;box-sizing: border-box;padding-top: 13.5px;}
main > div > dl > dd{position: absolute;display: inline-block;right:0;font-size: 17px;opacity: 0.6;box-sizing: border-box;padding-top: 13.5px;}
main > div > dl:nth-of-type(7) > dd{padding-top: 6.5px;}