/* header.css */
body > header{z-index: 40;position: fixed;width:100%;display: flex;flex-direction: column;
    height: 64px; color: #000;padding: 0 15px;box-sizing: border-box;background: #fff;}

.status_bar{display: flex;flex-direction: row;
    justify-content: space-between;align-items: center;height: 37.5%;}
.status_bar > div{flex:1;}
.status_bar > div:nth-child(1){text-align: left;}
.status_bar > div:nth-child(2){text-align: center;}
.status_bar > div:nth-child(3){text-align: right;}
.status_bar > div > *{padding: 3px;}

.title_bar{display: flex;flex-direction: row;
    justify-content: space-between;align-items: center;height: 62.5%;}
.title_bar > *{flex:1;font-size: 16px;}
.title_bar > h1{order: 2;text-align: center;}
.title_bar > .left_item{order:1;text-align: left;}
.title_bar > .left_item > a{color: #000;}
.title_bar > .right_item{order:3;text-align: right;font-size: 20px;}
.title_bar > .right_item > a{color:#000;}
.title_bar > .search{position: absolute;left: 0;top:99%; width: 100%;height: 0;background: #fff;overflow: hidden;transition: height 0.5s linear;}
.title_bar > .search.on{height: 40px;}
.title_bar > .search > form > fieldset{position: relative;}
.title_bar > .search > form > fieldset > input{position: absolute;right:100px; top:4px;width: calc(100% - 115px);height: 30px;box-sizing: border-box;border: none;outline: none;border: 1px solid #ccc;}
.title_bar > .search > form > fieldset > button{position: absolute;right:15px; top:4px;width: 70px;height: 30px;background: #F9881F;color: #fff;font-size: 15px;font-weight: bold;box-sizing: border-box;border: none;outline: none;border-radius: 5px;}